/* Put your username into here */
@import "/home/nico/.cache/wal/colors-waybar.css";

@define-color accent @color11;

#window {
  background-color: @background; 
  color: @foreground; 
}


#outer-box {
  background-color: @background; 
}


#input {
  background-color: @background; 
  color: @foreground;
  border: 0;
}


#scroll {
  background-color: @background; 
}


#inner-box {
  background-color: @background; 
}


#entry:unselected {
  color: @foreground; 
}


#entry:selected {
  background-color: @accent; 
}
