/*@import url('../../.cache/wal/colors-waybar.css');*/

@define-color text #000000;
@define-color selected #9fb6c4;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Poppins, RobotoMono Nerd Font, sans-serif;
    font-size: 13px;
    color: @text;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio,
#wireplumber,
#tray,

#workspaces {
    color: @text;
    margin: 0 4px;
}

#battery {
    color: @text;
    padding-right: 5px;
}


#custom-clock {
    color: @text;
    padding-right: 5px;
}

#custom-media {
  color: @text;
}


#tray {
  color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-cmd {
  color: @text;
  font-size: 20px;
  padding-left: 7px;
}

#window {
  color: @text;
  font-size: 20px;
  font-weight: bold;
}


#custom-file {
  color: @text;
  padding-left: 3px;
}

#custom-edit {
  color: @text;
  padding-left: 3px;
}
#custom-view {
  color: @text;
  padding-left: 3px;
}
#custom-go {
  color: @text;
  padding-left: 3px;
}
#custom-window {
  color: @text;
  padding-left: 3px;
}
#custom-help {
  color: @text;
  padding-left: 3px;
}
